/commons-fileupload-1.2.2.jar
/commons-io-2.6.jar
/commons-logging-1.2.jar
/commons-pool-1.6.jar
/fastjson-1.2.6.jar
/hibernate-validator-4.3.2.Final.jar
/jboss-logging-3.1.0.CR2.jar
/jstl.jar
/log4j-1.2.17.jar
/mybatis-3.2.2.jar
/mybatis-spring-1.2.2.jar
/mysql-connector-java-5.1.0-bin.jar
/spring-aop-3.2.13.RELEASE.jar
/spring-beans-3.2.13.RELEASE.jar
/spring-context-3.2.13.RELEASE.jar
/spring-core-3.2.13.RELEASE.jar
/spring-expression-3.2.13.RELEASE.jar
/spring-jdbc-3.2.13.RELEASE.jar
/spring-tx-3.2.13.RELEASE.jar
/spring-web-3.2.13.RELEASE.jar
/spring-webmvc-3.2.13.RELEASE.jar
/standard.jar
/validation-api-2.0.1.Final.jar
/aopalliance-1.0.jar
/aspectjweaver-1.6.9.jar
/commons-dbcp-1.4.jar
